h1{
    text-align:center;/*居中*/
}
h2{
    text-align:center;/*居中*/
    padding: 20px;
}
p{
    text-align:center;/*居中*/
}
/*图片居中*/
.center1 {
    text-align: center;
  }
  .center2 {
    text-align: center;
  }
  .center3 {
    text-align: center;
  }