.banner>h1 {
	background-image: url(../img/playgong.png);
}

.centerbox{
	margin-bottom:30px;
}

.centerbox ul.jingclass {
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.centerbox .jingclass>li {
	width: 224px;
	height: 50px;
	margin: 0 10px;
}

.centerbox .jingclass>li>a {
	display: block;
	height: calc(100% - 2px);
	border: 1px solid #32a071 !important;
	border-bottom: 1px solid #32a071 !important;
	font-size: 18px;
	color: #32a071;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
}

.centerbox .jingclass>li>a:hover {
	background-color: #32a071;
	color: #fff;
}


.centerbox .list-title{
	padding: 60px 15%;
	display: flex;
}
.centerbox .list-title-img{
	padding: 20px;
	width: 33%;
	
}
.centerbox .list-title-img img{
	/* width: 300px; */
	/* height: auto; */
	
}

.img-auto{
	max-width: 100%;
	height: auto;
}